/* 
https://colorhunt.co/palette/206664
#eeeeee 
#32e0c4
#0d7377
#212121
*/


*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    display: grid;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    grid-template-areas: "UA MA"
    "UA IA";
    grid-template-columns: 250px auto;
    grid-template-rows: 85vh 15vh;

    background-color: #181818;
}

aside.users {
    grid-area: UA;
    grid-column: 0;
    color: white;
    background-color: #181818;
    border-right: 3px solid #21212121;
}
.users .user{
    padding: 2px 5px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 3px solid #21212109;
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    padding: 5px 5px;
}
.messages {
    grid-area: MA;
    height: 100%;
    width:100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
.messages .message {
    width: 80%;
    margin: 5px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    align-self: flex-start;
}

.messages .owner {
    width: 80%;
    margin: 5px 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-end;
    padding: 10px;
}

.message .textContainer {
    background-color:#0d7377;
    padding:10px;
    color: #eeeeee;
    border-radius: 0 10px 10px 10px;
}
.message.owner .textContainer {
    background-color:#0d7377cc;
    padding:10px;
    color: #eeeeee;
    border-radius: 10px 0 10px 10px;
}
.textContainer .author {
    margin-bottom: 5px;
    font-weight: lighter;
    font-family: 'Courier New', Courier, monospace;    
}
.textContainer .text {
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}
.textContainer .time {
    font-family: 'Courier New', Courier, monospace;
    align-self: flex-end;
    text-align: right;
    font-weight: lighter;
    font-size: 14px;
    color:#eeec
}
.message.owner .time {
    color:#eeed;
}

.uImg{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    margin-right: 20px;
}
.message.owner .uImg,.owner .author{
    display:none;
}
button{
    width: 60px;
    height: 60px;
    border-radius: 5px;
    color:#32e0c4;
    border:none;
    outline:none;
    background-color: transparent;
    cursor: pointer;
}
i{
    font-size: 30pt;
}
.userInput{
    grid-area: IA;
    height: 15vh;
    width: 100%;
    display:flex;
    align-items: center;
    
}
.userInput input, .userInput input:focus{
    background-color:#212121;
    outline: none;
    border:none;
    padding: 15px;
    border-radius:25px;
    width: 75%;
    color:#eee;
    font-size: 18px;
    line-height: 18px;
}

.send{
    position: absolute;
    right: 20px;
    /* color:white; */
    border-radius: 60px;
    background-color:#0d7377 ;
    color: #32e0c4;
}
.send:disabled{
    background-color: #32e0c466;
    color: gray;
}
@media  screen and (max-width: 768px) {
    .container{
        grid-template-areas: "MA"
        "IA";
        grid-template-columns: 100%;
        grid-template-rows: 85vh 15vh;
    }
    
}